{% extends 'ifpracessomain/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-white mt-3">
    <form class="mt-3" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                    <label>Identificador</label>
                <input class="form-control" name="identificador" id="identificador" type="text"
                    required/>
            </div>
        </div>
        <div class="text-center mt-3 mb-3">
            <button type="submit" class="btn btn-index text-center btn-id">Inserir</button>
        </div>
        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-dismissible alert-success alerta-insert">
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-dismissible alert-danger alerta-insert">
                    {% endif %}
                    <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
                <div class="alert alert-dismissible alerta-delete">
                </div>
            </div>
    </form>
</div>
<div class="container bg-white mt-3 text-center">
    <h1 class="mt-3 mb-3" id="h1-insertid">Identificadores Cadastrados</h1>
    <ul class="list-group mb-3 col">
        {% for nome_id in todos_id %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ nome_id }} <span><button class="btn-delete btn-sm btn-danger"><i
                        class="fas fa-trash"></i></button></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block scripts %} 
<script src="{% static 'ifpracessomain/js/id.js' %}"></script>
{% endblock %}