{% extends 'IFPRAcessoMain/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-white mt-3">
    <form class="mt-3" method="POST" action="" id="searchform">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-5">
                <select class="form-control" name="identificador">
                        <option value="" disabled selected>Identificador...</option>
                    {% for nome_id in todos_id %}
                    <option>{{ nome_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input class="searchfield form-control nome" name="nome" type="text" placeholder="Nome..." />
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col">
                <input class="searchfield form-control cracha" name="cracha" type="text" placeholder="Cracha..." />
            </div>
            <div class="col">
                <input class="searchfield form-control matricula" name="matricula" type="text" placeholder="Matricula..." />
            </div>
            <div class="col">
                <input class="searchfield form-control ano" name="ano" type="text" placeholder="Ano Entrada..." />
            </div>
            <h4 class="mr-1">Ativo?</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="ativo" value="S" checked>
                <label class="form-check-label">SIM</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inativo" value="N" checked>
                <label class="form-check-label">NÃO</label>
            </div>
        </div>
        <div class="text-center mt-3 mb-3">
            <button type="submit" class="btn btn-index text-center">Pesquisar</button>
        </div>
    </form>
</div>
<div class="container bg-white mt-3 text-center">
    <h1 class="mt-3 mb-3" id="h1-insertid">Pessoas Cadastrados</h1>
    <ul class="list-group mb-3 col">
        <li class="list-group-item d-flex justify-content-between align-items-center" id="titulo">
            <div class="col-2">
                <h5>Identificador</h5>
            </div>
            <div class="col-4">
                <h5>Nome</h5>
            </div>
            <div class="col-2">
                <h5>Cracha</h5>
            </div>
            <div class="col-2">
                <h5>Matricula</h5>
            </div>
            <div class="col-1">
                <h5>Ano Entrada</h5>
            </div>
            <div class="col-1">
                <h5>Ativo</h5>
            </div>
        </li>
        {% for pessoa in todas_pessoas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-2">{{ pessoa.id_pessoa }} </div>
            <div class="col-4">{{ pessoa.nome_pessoa }} </div>
            <div class="col-2">{{ pessoa.cracha_pessoa }} </div>
            <div class="col-2">{{ pessoa.matricula_pessoa }} </div>
            <div class="col-1">{{ pessoa.ano_entrada }} </div>
            <div class="col-1">{{ pessoa.ativo }} </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'IFPRAcessoMain/js/pesquisa.js' %}"></script>
{% endblock %}