{% extends 'ifpracessomain/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-white mt-3 text-center">
    <form class="mt-3 pessoa" method="GET">
        <div class="form-row">
            <div class="form-group col">
                <label>Data Início:</label>
                <input type="date" class="dt_inicio">
                <label>Data Fim:</label>
                <input type="date" class="dt_fim">
                <button type="submit" class="filtrar btn btn-index text-center">Filtrar</button>
                <button type="submit" class="restaurar btn btn-index text-center">Restaurar</button>
            </div>
        </div>
    </form>
    <div class="mt-3 mb-3 text-center">
        <button type="submit" class="exportar btn btn-index text-center">Exportar</button>
    </div>
</div>
<div class="container bg-white mt-3 text-center html-content">
    <h1 class="mt-3 mb-3" id="h1-insertid">Registros</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Matricula</th>
                <th scope="col">Data</th>
                <th scope="col">Operação</th>
                <th scope="col">Catraca</th>
            </tr>
        </thead>
        <tbody>
            {% for r in registros %}
            <tr class="registro">
                <td>{{ nome }}</td>
                <td>{{ r.matricula }}</td>
                <td>{{ r.dt_registro|date:'d/m/Y H:i' }}</td>
                {% if r.operacao == 1%}
                <td>Entrada</td>
                {% else %}
                <td>Saída</td>
                {% endif %}
                <td>{{ r.nr_catraca }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'ifpracessomain/js/relatorio.js' %}"></script>
{% endblock %}