{% extends 'IFPRAcessoMain/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-white mt-3">
    <form class="mt-3 pessoa" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-5">
                    <label>Identificador</label>
                <select class="form-control" name="identificador">
                    {% for nome_id in todos_id %}
                    {% if request.GET.identificador == nome_id.nome_id %}
                    <option selected>{{ nome_id }}</option>
                    {% else %}
                    <option>{{ nome_id }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                    <label>Nome</label>
                <input class="form-control nome" name="nome" type="text" 
                    value="{{ request.GET.nome }}" required />
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col">
                    <label>Cracha</label>
                <input class="form-control cracha" name="cracha" type="text" 
                    value="{{ request.GET.cracha }}" required />
            </div>
            <div class="col">
                    <label>Matricula</label>
                <input class="form-control matricula" name="matricula" type="text" 
                    value="{{ request.GET.matricula }}" disabled />
            </div>
            <div class="col">
                    <label>Ano Entrada</label>
                <input class="form-control ano" name="ano" type="text" 
                    value="{{ request.GET.ano }}" required />
            </div>
            <div class="col ml-3">
                <h3 class="ml-3">Ativo?</h3>
                <div class="form-check form-check-inline">
                    {% if request.GET.ativo == 'S' %}
                    <input class="form-check-input" type="radio" name="ativo" value="S" checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="ativo" value="S">
                    {% endif %}
                    <label class="form-check-label">SIM</label>
                </div>
                <div class="form-check form-check-inline">
                    {% if request.GET.ativo == 'N'%}
                    <input class="form-check-input" type="radio" name="ativo" value="N" checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="ativo" value="N">
                    {% endif %}
                    <label class="form-check-label">NÃO</label>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3 text-center">
            <button type="submit" class="btn-pessoa btn btn-index text-center">Alterar</button>
        </div>
    </form>
    <div class="text-center">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-dismissible alert-success alerta-insert">
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-dismissible alert-danger alerta-insert">
                {% endif %}
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="{% static 'IFPRAcessoMain/js/pessoa.js' %}"></script>
    {% endblock %}